:host .employee-list-text {
    display: flex;
    list-style-type: none;
    padding-left: 1rem;
    overflow-y: auto;
    max-height: 350px;
}

:host li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 10px;
    text-wrap: nowrap;
    font-size: 18px;
}

:host .button-container {
    display:flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}