:host .form-container {
    display: flex;
    align-items: center;
}

:host input {
    border-radius: 14px;
    border: none;
    padding: 15px;
    width: 100%;
}

:host .button-container {
    display:flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}